@font-face {
	font-family: "RobotoCondesedReg";
	src: url('../fonts/RobotoCondensed-Regular.ttf');
}
@font-face {
	font-family: "SFUISemibold";
	src: url('../fonts/SFUISemibold.otf');
}
@font-face {
	font-family: "MyriadPro";
	src: url('../fonts/Myriad Pro.otf');
}